@page "/add-user"
@attribute [Authorize(Roles = "Admin")]

@using Home_Server.Models
@inject NavigationManager navigationManager;
@inject Home_Server.Data.UserService userService;

<h1>Add User</h1>
<AddEditUser CurrentUser="_user" OnSaveEvent="SaveUserAdd"></AddEditUser>

@code {
    /*Author: SebastianCns Date: 25.01.23
    *
    *Description:
    *This code creates a new user and add it to the user service
    *
    */
    private UserModel _user;

    protected override void OnInitialized()
    {
        _user = new UserModel();
        base.OnInitialized();
    }

    private void SaveUserAdd()
    {
        userService.AddUser(_user);
        string userName = _user.Name.ToLower() + "." + _user.FamilyName.ToLower();
        navigationManager.NavigateTo("/set-password/" + userName + "/" + _user.Id);
    }
}
