@page "/edit-user/{userId:int}"
@attribute [Authorize(Roles = "Admin, User")]

@using Home_Server.Models
@using Home_Server.Authentication
@inject NavigationManager navigationManager
@inject Home_Server.Data.UserService userService
@inject UserAccountService uaService

<h1>Edit User</h1>
<AddEditUser CurrentUser="_user" OnSaveEvent="SaveUserEdit"></AddEditUser>

@code {
    /*Author: SebastianCns Date: 25.01.23
    *
    *Description:
    *This code edit an existing user
    *
    */
    [Parameter]
    public int UserId { get; set; }

    private UserModel _user;
    private string _oldUserName;
    private string _oldUserFamilyname;

    protected override void OnInitialized()
    {
        _user = userService.GetUser(UserId);
        _oldUserName = _user.Name;
        _oldUserFamilyname = _user.FamilyName;
        base.OnInitialized();
    }

    private async Task SaveUserEdit()
    {
        await userService.EditUser(_user);
        // Update username for login if name or familyname has changed
        if(_oldUserName != _user.Name || _oldUserFamilyname != _user.FamilyName)
        {
            await uaService.UpdateUserName(_user);
        }

        navigationManager.NavigateTo("/settings");
    }
}
