@page "/edit-user/{userId:int}"
@attribute [Authorize(Roles = "Admin")]

@using Home_Server.Models
@inject NavigationManager navigationManager;
@inject Home_Server.Data.UserService userService;

<h1>Edit User</h1>
<AddEditUser CurrentUser="user" OnSaveEvent="SaveUserEdit"></AddEditUser>

@code {
    /*Author: SebastianCns Date: 25.01.23
    *
    *Description:
    *This code edit an existing user
    *
    */
    [Parameter]
    public int UserId { get; set; }

    private UserModel user; 

    protected override void OnInitialized()
    {
        user = userService.GetUser(UserId);
        base.OnInitialized();
    }

    private void SaveUserEdit()
    {
        userService.EditUser(user);
        navigationManager.NavigateTo("/settings");
    }
}
