@attribute [Authorize(Roles = "Admin, User")]

@using Home_Server.Authentication
@inject IJSRuntime jsRuntime

<div class="col-lg-4 pt-4 pb-4">
    <div class="mb-3">
        <label>Password:</label>
        <input @bind="_password" type="password" class="form-control" placeholder="Type in your new password" />
    </div>
    <div class="mb-3">
        <label>Confirm Password:</label>
        <input @bind="_confirmPw" type="password" class="form-control" placeholder="Confirm your new password" />
    </div>
    <button style="background-color:cadetblue; color:white" @onclick="Apply">Apply</button>
</div>

@code {
    [Parameter]
    public UserAccount CurrentUserAccount { get; set; }
    [Parameter]
    public EventCallback OnApplyEvent { get; set; }

    private string _password = "";
    private string _confirmPw = "";

    private void Apply()
    {
        if(_password == _confirmPw)
        {
            CurrentUserAccount.Password = _password;
            OnApplyEvent.InvokeAsync();
        }
        else
        {
            jsRuntime.InvokeVoidAsync("alert", "Confirmed password is wrong");
            _password = "";
            _confirmPw = "";
        }
    }
}
