@page "/set-password/{nameOfUser}/{uId:int}"

@using Home_Server.Authentication
@inject NavigationManager navManager
@inject UserAccountService uaService

<h1>Set Password</h1>
<SetChangePassword CurrentUserAccount="_userAccount" OnApplyEvent="ApplyPasswordAdd"></SetChangePassword>

@code {
    [Parameter]
    public string NameOfUser { get; set; }
    [Parameter]
    public int UId { get; set; }

    private UserAccount _userAccount;

    protected override void OnInitialized()
    {
        _userAccount = new UserAccount
        {
            UserName = NameOfUser,
            Role = "User"
        };
        base.OnInitialized();
    }

    private void ApplyPasswordAdd()
    {
        uaService.AddUserAccount(_userAccount, UId);
        navManager.NavigateTo("/settings");
    }
}
