@page "/settings"

<PageTitle>Settings</PageTitle>

<h1>User Management</h1>
<UserList></UserList>
<hr />

@code {
/*Author: SebastianCns Date: 25.01.23
*
*Description:
*This page call the pages for the user managent.
*Advanced functionality will be implemented.
*
*/
}
