@page "/user-list"

@using Home_Server.Models
@using Home_Server.Data
@inject Home_Server.Data.UserService userService;

@if (users == null || users.Count == 0)
{
    <p>No users to display</p>
} 
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Familyname</th>
                <th>Birthday</th>
                <th>Email</th>
                <th>Home</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in users)
            {
                <tr>
                    <UserDetail CurrentUser="user" OnDeleteEvent="DeleteUser"></UserDetail>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    /*Author: SebastianCns Date: 25.01.23
    *
    *Description:
    *
    *
    */

    private List<UserModel> users;

    protected override void OnInitialized()
    {
        users = userService.GetUsers();
        base.OnInitialized();
    }

    private void DeleteUser(UserModel user)
    {
        userService.DeleteUser(user.Id);
        //users.RemoveAll(a => a.Id == user.Id);
    }
}
